<strong><%= @video.title %></strong>
<p>Uploaded by <%=@video.uploader.username%>, <%=@video.created_at.strftime("%F")%></p>
<p><%=raw @video.embed_code %></p>
<p><%= @video.comment %></p>
<% unless @video.description %>
  <div>
    <%= link_to "Write a description", new_video_description_path(@video) %>
  </div>
<% else %>
  <div>
    <%= @video.description.content %>
  </div>
<% end %>