<strong><%= @video.title %></strong>
<p>Uploaded by <%=@video.uploader.username%>, <%=@video.created_at.strftime("%F")%></p>
<p><%=raw @video.embed_code %></p>
<p><%= @video.comment %></p>
<% unless @video.description %>
  <div>
    <% if logged_in? %>
      <%= link_to "Write a description", new_video_description_path(@video) %>
    <% else %>
      <%= link_to "Want to describe it? Log In here.", login_path %>
    <% end %>
  </div>
<% else %>
  <div>
    <%= @video.description.content %>
  </div>
  <% if @video.uploader == current_user && @video.description.rating == nil %>
    <p>Was this description helpful?</p>
    <%= button_to "No, delete it", [@video, @video.description], :method => :delete %>
  <% end %>
<% end %>