<!DOCTYPE html>
<html>
<head>
  <title>Writeviewer</title>

  <%= csrf_meta_tags %>
</head>
<body>
  <strong><%= link_to "WriteViewer", root_path %></strong>
  <% if current_user && logged_in? %>
    <p>Welcome <%= current_user.username%> </p>
    <p><%= link_to "Log Out", logout_path, method: :delete %></p>
  <% else %>
    <p><%=link_to "Log In", login_path %></p>
    <p><%=link_to "Register", new_user_path %></p>
  <% end %>
  <%= form_tag search_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  <%= yield %>

</body>
</html>
